@using System.IO
@using System.Linq


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon SVG -->
    <link rel="icon" href="~/Imagenes/Dona_logo.svg" type="image/svg+xml">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>@ViewBag.Title - Petetes</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body class="sb-nav-fixed">


    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark nav-top" id="navbar">
        <div class="container">
            @Html.ActionLink("Tienda", "Index", "Home", new { area = "" }, new { @class = "navbar-brand custom-nav-link" })
            <!-- Barra de búsqueda para dispositivos móviles -->
            <div class="d-md-none">
                <form class="d-flex position-relative">
                    <div class="input-group">
                        <input type="text" id="searchInputMobile" class="form-control" placeholder="Buscar productos...">
                        <button class="btn bg-black" type="button" id="button-addon2">
                            <i class="bi bi-search" style="color: white;"></i>
                        </button>
                    </div>
                    <ul id="searchResultsMobile" class="list-group position-absolute w-100 mt-2 bg-white border" style="display: none;">
                        <!-- Los resultados de la búsqueda se agregarán aquí dinámicamente -->
                    </ul>
                </form>
            </div>


            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-3">
                    <li><a href="https://ukumari.org/" class="nav-link custom-nav-link">Productos</a></li>
                    <li><a href="https://ukumari.org/contacto/" class="nav-link custom-nav-link">Contacto</a></li>
                </ul>
                <!-- Barra de búsqueda para dispositivos no móviles -->
                <div class="d-none d-md-block">
                    <form class="d-flex mx-auto position-relative" style="width: 820px;">
                        <div class="input-group flex-grow-1">
                            <input type="text" id="searchInput" class="form-control" placeholder="Buscar productos...">
                            <button class="btn bg-black" type="button" id="button-addon2">
                                <i class="bi bi-search" style="color: white;"></i>
                            </button>
                        </div>
                        <ul id="searchResults" class="list-group position-absolute w-100 mt-2 bg-white border" style="display: none; z-index: 1000;">
                            <!-- Los resultados de la búsqueda se agregarán aquí dinámicamente -->
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <!-- Barra de categoría -->
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light nav-botto" id="categoryNav">
        <div class="container">
            <div class="collapse navbar-collapse justify-content-center ">
                <span style="font-weight: bold;">@Html.Action("CategoryNav", "Home")</span>
            </div>
        </div>
    </nav>

    @*esto es para el carrusel de las imagenes con zoom y que van pasando*@

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @{
                var imagesPath = Server.MapPath("~/Imagenes/Carousel");
                var images = Directory.GetFiles(imagesPath).Select(Path.GetFileName).ToList();
            }
            @for (int i = 0; i < images.Count; i++)
            {
                var image = images[i];
                var activeClass = i == 0 ? "active" : "";
                <div class="carousel-item @activeClass">
                    <div class="zoom-background">
                        <img src="~/Imagenes/Carousel/@image" class="d-block w-100" alt="Imagen de Fondo @i">
                    </div>
                </div>
            }
        </div>
    </div>



    <!-- Modal de Publicidad -->
    <div class="modal fade" id="publicidadModal" tabindex="-1" aria-labelledby="publicidadModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="publicidadModalLabel">Información importante</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    @{
                        var publicidadPath = Server.MapPath("~/Imagenes/Publicidad");
                        var publicidadFile = Directory.GetFiles(publicidadPath).Select(Path.GetFileName).FirstOrDefault();

                        // Si no hay imagen de publicidad cargada, se puede usar una imagen predeterminada
                        var publicidadUrl = publicidadFile != null ? Url.Content("~/Imagenes/Publicidad/" + publicidadFile) : Url.Content("~/Imagenes/Publicidad/default-publicidad.png");
                    }
                    <img src="@publicidadUrl" alt="Publicidad" style="max-width: 100%; height: auto;" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <!-- Cambiado a 6 para que tome la mitad del ancho -->
                        <p><strong>COBERTURA PARA LAS ENTREGAS:</strong></p>
                        <p>
                            <strong>
                                @{
                                    // Ruta al archivo de texto
                                    var filePath = Server.MapPath("~/Areas/Descripcion/descripcion.txt");

                                    // Leer todo el contenido del archivo de texto
                                    var fileContent = System.IO.File.ReadAllText(filePath);
                                }
                                <div class="txt-content">
                                    <pre>@fileContent</pre>
                                </div>
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
                <div class="carousel-inner">
                    <!-- Primer conjunto de imágenes -->
                    <div class="carousel-item active">
                        <div class="d-flex justify-content-center">
                            <img src="~/Imagenes/pse.jpg" class="d-block" alt="Imagen PSE" style="max-width: 33%;">
                            <img src="~/Imagenes/mastercard.jpg" class="d-block" alt="Imagen Mastercard" style="max-width: 33%;">
                            <img src="~/Imagenes/Visa.jpg" class="d-block" alt="Imagen Visa" style="max-width: 33%;">
                        </div>
                    </div>
                    <!-- Segundo conjunto de imágenes -->
                    <div class="carousel-item">
                        <div class="d-flex justify-content-center">
                            <img src="~/Imagenes/Nequi.jpg" class="d-block" alt="Imagen Nequi" style="max-width: 33%;">
                            <img src="~/Imagenes/Daviplata.jpg" class="d-block" alt="Imagen Daviplata" style="max-width: 33%;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container my-5 bg-azul">
                <!-- my-5 añade margen arriba y abajo -->
                <div class="row text-black">

                    <div class="col-md-5 text-white bg-overlay fondo-imagen">
                        <h2>Direccion y Horario De Atención:</h2>
                        @{
                            // Ruta al archivo de texto donde se almacenará el horario
                            var horarioFilePath = Server.MapPath("~/Areas/Descripcion/horarios.txt");

                            // Leer el contenido del archivo de texto
                            var horarioAtencion = System.IO.File.Exists(horarioFilePath)
                                ? System.IO.File.ReadAllText(horarioFilePath)
                                : "8:00 am – 5:00 pm\nAbrimos los 365 días del año."; // Valor predeterminado

                            // Mostrar el contenido en el layout
                        }
                        <p>@horarioAtencion</p>
                    </div>

                    <!-- Para las redes sociales -->
                    <div class="col-md-5 text-white bg-overlay fondo-imagen">
                        <h2>Redes sociales</h2>
                        @{
                            // Ruta al archivo de texto donde se almacenan las URLs de redes sociales
                            var redesSocialesFilePath = Server.MapPath("~/Areas/Descripcion/redes-sociales.txt");

                            // Inicializar las URLs de las redes sociales con valores predeterminados
                            var facebookUrl = "https://www.facebook.com/mini.dulce.bocado/";
                            var instagramUrl = "https://www.instagram.com/minidulcebocado/";

                            // Verificar si el archivo existe y leer las URLs
                            if (System.IO.File.Exists(redesSocialesFilePath))
                            {
                                var lines = System.IO.File.ReadAllLines(redesSocialesFilePath);
                                if (lines.Length >= 2)
                                {
                                    facebookUrl = lines[0];  // Primera línea para Facebook
                                    instagramUrl = lines[1]; // Segunda línea para Instagram
                                }
                            }
                        }

                        <a href="@facebookUrl" target="_blank" class="social-icon">
                            <img src="~/Imagenes/Facebook.svg" alt="Facebook" style="width: 80px; height: 60px;">
                        </a>
                        <a href="@instagramUrl" target="_blank" class="social-icon">
                            <img src="~/Imagenes/Instagram.svg" alt="Instagram" style="width: 80px; height: 60px;">
                        </a>
                    </div>


                    <div class="col-md-2 text-white bg-overlay fondo-imagen">
                        @{
                            var logoPath = Server.MapPath("~/Imagenes/Logo");
                            var logoFile = Directory.GetFiles(logoPath).Select(Path.GetFileName).FirstOrDefault();

                            // Si no hay logo cargado, se puede usar un logo predeterminado
                            var logoUrl = logoFile != null ? Url.Content("~/Imagenes/Logo/" + logoFile) : Url.Content("~/Imagenes/Logo/default-logo.png");
                        }

                        <img src="@logoUrl" alt="Logo" style="width: 150px; height: 150px;" />
                    </div>
                </div>
            </div>
            <div class="container text-center">
                <!-- Agregada estructura de contenedor y fila -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- Cambiado a 12 para que tome todo el ancho -->
                        <p>- RM SOFT Casa de Software y Servicios SAS </p>
                        <p>Todos los derechos reservados &copy; @DateTime.Now.Year</p>
                        <h3 class="dtq-animated-text-head">
                            <div id="typed-output" class="dtq-text-animation dtq-animated-text-main dtq-typed-text"></div>
                            <i class="fa-solid fa-heart"></i>
                        </h3>

                    </div>
                </div>
            </div>
        </footer>
    </div>

    <style>
        .navbar-toggleable-sm {
            z-index: 1050; /*este valor sea más alto que el del carrusel y otras capas */
        }


        .navbar-toggler {
            z-index: 1050; /* este valor sea más alto que el del carrusel y otras capas */
        }

        /* Estilo para el título "Tienda Virtual" */
        .navbar-brand {
            color: #7a7a7a; /* Color del texto */
        }

        /* Estilo base para la clase custom-nav-link */
        .custom-nav-link {
            color: #7a7a7a !important; /* Cambia el color del texto */
            font-weight: bold; /* Texto en negrita */
        }

            /* Estilo para el efecto hover */
            .custom-nav-link:hover {
                background-color: #FFB562 !important; /* Color de fondo verde al pasar el mouse */
                color: black !important; /* Color del texto blanco al pasar el mouse */
                border-radius: 5px; /* Radio de la esquina del recuadro */
            }


        /* Estilo para el título "Tienda Virtual" */
        .navbar-brand {
            color: #7a7a7a; /* Color del texto */
            font-weight: bold !important; /* Fuente en negrita con !important para asegurar la aplicación del estilo */
        }

        /* Estilo para los elementos del menú */
        .navbar .navbar-nav .nav-link {
            color: #7a7a7a; /* Color del texto */
            font-weight: bold; /* Fuente en negrita */
        }

            /* Efecto hover para los elementos del menú */
            .navbar .navbar-nav .nav-link:hover {
                background-color: #FFB562; /* Color de fondo al pasar el mouse */
                color: black !important; /* Color del texto al pasar el mouse */
                border-radius: 5px; /* Radio de la esquina del recuadro */
            }

        .navbar-nav .nav-link:hover {
            color: #F87474; /* Cambia este color según tus necesidades */
        }

        .fondo-imagen {
            background: url('/Imagenes/pisci.jpg') no-repeat center center;
            background-size: cover;
            position: relative;
            color: white;
            min-height: 300px;
            padding: 20px;
        }

            .fondo-imagen h2, .fondo-imagen p, .fondo-imagen a {
                position: relative;
                z-index: 1;
            }

            .fondo-imagen::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0);
                z-index: 0;
            }

        .social-icon {
            display: inline-block;
            margin-right: 10px;
        }

        .custom-nav-link {
            font-size: 17px;
            Tamaño de letra margin: 10px;
            Margen alrededor del enlace padding: 5px 10px;
            Relleno interno del enlace color: #000;
            Color del texto background-color: #f8f9fa;
            Color de fondo text-decoration: none;
            Quitar subrayado del enlace border-radius: 5px;
            Bordes redondeados
        }

            .custom-nav-link:hover {
                color: #fff;
                Color del texto al pasar el cursor background-color: #007bff;
                Color de fondo al pasar el cursor
            }




        .bg-verde {
            background-color: rgb(35, 164, 84); /* Color fondo verde en formato RGB */
        }

        .bg-morado {
            background-color: rgb(148, 11, 146); /* Color fondo morado en formato RGB */
        }

        .bg-rosado {
            background-color: rgb(252, 186, 255); /* Color fondo rosado en formato RGB */
        }

        .bg-azul {
            background-color: rgb(58, 176, 255); /* Color fondo azul en formato RGB */
        }

        #myCarousel .carousel-inner .carousel-item .d-flex img {
            max-height: 100px;
            padding: 5px;
        }

        .social-icon {
            width: 80px;
            height: 60px;
            margin-right: -25px; /* Ajusta el espacio entre los íconos */
            border: none; /* Esto elimina cualquier borde */
            display: inline-block; /* Esto asegura que se alineen en línea */
            text-decoration: none; /* Esto elimina cualquier subrayado de texto */
        }

            /* Puedes querer aplicar esto a los enlaces directamente para eliminar el borde azul */
            .social-icon a {
                border: none;
                text-decoration: none;
            }
        /* Estilos para el carrusel */
        .carousel-inner {
            max-height: 300px;
            overflow: hidden;
        }

        .zoom-background img {
            width: 60%;
            height: 25%;
            object-fit: cover;
            object-position: center;
            animation: zoom 7s ease-in-out infinite alternate;
        }

        /* barra de busqueda */



        @@keyframes zoom {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(1.1);
            }
        }

        .static-images {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 145px;
            z-index: 10;
        }

            .static-images img {
                width: 145px;
                position: absolute;
                top: 250%;
                transform: translateY(-50%);
            }

                /* Ajustar la posición de las imágenes estáticas */
                .static-images img:first-child {
                    left: 18%; /* Ajusta este valor según sea necesario */
                }

                .static-images img:last-child {
                    left: 5%; /* Ajusta este valor según sea necesario */
                }

        /* Estilo para el botón del menú cuando está en su estado colapsado */
        .navbar-toggler {
            background-color: #940B92 !important; /* Cambia el color del borde del botón si es necesario */
        }

        /* Media query para tablets */
        @@media (max-width: 768px) {
            .static-images img {
                width: 100px; /* Ajusta el tamaño para tablets */
            }

                .static-images img:first-child {
                    left: 10%; /* Ajusta la posición para tablets */
                }

                .static-images img:last-child {
                    left: 30%; /* Ajusta la posición para tablets */
                }
        }

        /* Media query para móviles */
        @@media (max-width: 576px) {
            .static-images img {
                width: 80px; /* Ajusta el tamaño para móviles */
            }

                .static-images img:first-child {
                    left: 5%; /* Ajusta la posición para móviles */
                }

                .static-images img:last-child {
                    left: 28%; /* Ajusta la posición para móviles */
                }
        }

        @@media (max-width: 375px) {
            .static-images img {
                width: 60px; /* Ajusta el tamaño para móviles */
            }

                .static-images img:first-child {
                    left: 3%; /* Ajusta la posición para móviles */
                    top: 50%;
                }

                .static-images img:last-child {
                    left: 28%; /* Ajusta la posición para móviles */
                    top: 45%;
                }
        }
    </style>
    <script>
    var myCarousel = document.querySelector('#carouselExampleIndicators');
    var carousel = new bootstrap.Carousel(myCarousel, {
        interval: 8000,
        wrap: true
    });
        // Para mi modal de publicidad
        $(document).ready(function () {
            // Verificar si el modal ya ha sido mostrado en la sesión
            if (!sessionStorage.getItem('publicidadModalShown')) {
                // Mostrar el modal
                $('#publicidadModal').modal('show');

                // Guardar en sessionStorage que el modal fue mostrado
                sessionStorage.setItem('publicidadModalShown', 'true');

                // Función para cerrar el modal después de 30 segundos
                setTimeout(function () {
                    $('#publicidadModal').modal('hide');
                }, 30000); // 30000 ms = 30 segundos
            }
        });

    $(document).ready(function () {
        // Aplicar color guardado desde localStorage
        var savedNavbarColor = localStorage.getItem('navbarColor');
        if (savedNavbarColor) {
            document.getElementById('navbar').style.backgroundColor = savedNavbarColor;
            document.getElementById('categoryNav').style.backgroundColor = savedNavbarColor;
        } else {
            // Si no hay color guardado en localStorage, obtenerlo del servidor
            $.ajax({
                url: '@Url.Action("ObtenerColorNavbar", "GestionPagina", new { area = "Admin" })',
                type: 'GET',
                success: function (response) {
                    if (response.color) {
                        // Aplicar el color al fondo de la navbar y la barra de categorías
                        document.getElementById('navbar').style.backgroundColor = response.color;
                        document.getElementById('categoryNav').style.backgroundColor = response.color;

                        // Guardar el color en localStorage para futuras visitas
                        localStorage.setItem('navbarColor', response.color);
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error al obtener el color de la navbar:", error);
                }
            });
        }

        // Manejar la búsqueda de productos
        $('.form-control').on('input', function () {
            var searchTerm = $(this).val();
            if (searchTerm.length >= 2) {
                $.ajax({
                    url: '/Home/BuscarProductos',
                    type: 'GET',
                    data: { searchTerm: searchTerm },
                    success: function (response) {
                        // Limpiar resultados anteriores
                        $('#searchResultsList').empty();

                        // Iterar sobre los resultados y agregarlos a la lista
                        $.each(response, function (index, result) {
                            var resultItem = '<li>' + result.NombreMain + ' - ' + result.NombreGrupo + '</li>';
                            $('#searchResultsList').append(resultItem);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error("Error en la búsqueda:", error);
                    }
                });
            } else {
                // Si la longitud de la búsqueda es menor que 2, ocultar los resultados
                $('#searchResultsList').empty();
            }
        });

        // Mostrar el modal de publicidad si hay una imagen disponible
        if (publicidadUrl) {
            $('#publicidadModal').modal('show');
        }
    });

    </script>








    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/complementos")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



</body>
</html>