﻿
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon SVG -->
    <link rel="icon" href="~/Imagenes/Dona_logo.svg" type="image/svg+xml">

    <title>@ViewBag.Title - Petetes</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    <!--<div class="static-images">-->
    @*<img src="~/Imagenes/pereira.png" alt="Imagen Estática 1">*@
    <!--<img src="~/Imagenes/dulce.png" alt="Imagen Estática 2">
    </div>-->

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark nav-top">
        <div class="container">
            @Html.ActionLink("Tienda", "Index", "Home", new { area = "" }, new { @class = "navbar-brand custom-nav-link" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-3">
                    <li><a href="https://ukumari.org/" class="nav-link custom-nav-link">Productos</a></li>
                    <li><a href="https://ukumari.org/contacto/" class="nav-link custom-nav-link">Contacto</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-azul nav-botto">
        <div class="container">
            <div class="collapse navbar-collapse justify-content-center ">
                <span style="font-weight: bold;">@Html.Action("CategoryNav", "Home")</span>
            </div>
        </div>
    </nav>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="zoom-background">
                    <img src="~/Imagenes/Portada1.svg" class="d-block w-100" alt="Imagen de Fondo 1">
                </div>
            </div>
            <div class="carousel-item">
                <div class="zoom-background">
                    <img src="~/Imagenes/Portada2.svg" class="d-block w-100" alt="Imagen de Fondo 2">
                </div>
            </div>
            <div class="carousel-item">
                <div class="zoom-background">
                    <img src="~/Imagenes/Portada3.svg" class="d-block w-100" alt="Imagen de Fondo 3">
                </div>
            </div>
            <div class="carousel-item">
                <div class="zoom-background">
                    <img src="~/Imagenes/Portada4.svg" class="d-block w-100" alt="Imagen de Fondo 4">
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <!-- Añadida clase para centrar las columnas -->
                    <!--<div class="col-md-6 text-center">-->
                    <!-- Cambiado a 6 para que tome la mitad del ancho -->
                    <!--<p><strong>Pagos 100% Seguros</strong></p>
                        <p>Recibimos todas las tarjetas</p>
                    </div>
                    <div class="col-md-6 text-center">-->
                    <!-- Cambiado a 6 para que tome la mitad del ancho -->
                    <!--<p><strong>Entregas Nacionales</strong></p>
                        <p>Enviamos a toda Colombia</p>
                    </div>-->
                    <div class="col-md-12 text-center">
                        <!-- Cambiado a 6 para que tome la mitad del ancho -->
                        <p><strong>COBERTURA PARA LAS ENTREGAS EN PEREIRA:</strong></p>
                        <p>
                            Área urbana del Municipio de Pereira; hacia la vía Armenia hasta la Glorieta de la Condina; vía hacia Dosquebradas hasta la Romelia; vía Cerritos hasta el Hotel Sonesta.
                        </p>
                    </div>
                </div>
            </div>

            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
                <div class="carousel-inner">
                    <!-- Primer conjunto de imágenes -->
                    <div class="carousel-item active">
                        <div class="d-flex justify-content-center">
                            <img src="~/Imagenes/pse.jpg" class="d-block" alt="Imagen PSE" style="max-width: 33%;">
                            <img src="~/Imagenes/mastercard.jpg" class="d-block" alt="Imagen Mastercard" style="max-width: 33%;">
                            <img src="~/Imagenes/Visa.jpg" class="d-block" alt="Imagen Visa" style="max-width: 33%;">
                        </div>
                    </div>
                    <!-- Segundo conjunto de imágenes -->
                    <div class="carousel-item">
                        <div class="d-flex justify-content-center">
                            <img src="~/Imagenes/Nequi.jpg" class="d-block" alt="Imagen Nequi" style="max-width: 33%;">
                            <img src="~/Imagenes/Daviplata.jpg" class="d-block" alt="Imagen Daviplata" style="max-width: 33%;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container my-5 bg-azul">
                <!-- my-5 añade margen arriba y abajo -->
                <div class="row text-black">
                    @*<div class="col-md-4">
                            <h2>Dirección</h2>
                            <p>
                                Casa de Yessica<br>
                                Llamar a porteria.
                            </p>
                            <p>
                                3227147454<br>

                            </p>
                        </div>*@
                    <div class="col-md-5">
                        <h2>Horario de atención:</h2>
                        <p>8:00 am – 5:00 pm</p>
                        <p>Abrimos los 365 días del año.</p>
                    </div>
                    <div class="col-md-5">
                        <h2>Redes sociales</h2>
                        <a href="https://www.facebook.com/mini.dulce.bocado/" target="_blank" class="social-icon">
                            <img src="~/Imagenes/Facebook.svg" alt="Facebook" style="width: 80px; height: 60px;">
                        </a>
                        @*<a href="https://twitter.com/ukumaripereira" target="_blank" class="social-icon">
                                <img src="~/Imagenes/Twitter.svg" alt="Twitter" style="width: 80px; height: 60px;">
                            </a>*@
                        <a href="https://www.instagram.com/minidulcebocado/" target="_blank" class="social-icon">
                            <img src="~/Imagenes/Instagram.svg" alt="Instagram" style="width: 80px; height: 60px;">
                        </a>
                        @*<a href="https://www.youtube.com/channel/UCSiERFPD0kXZD604Ewgt3XA" target="_blank" class="social-icon">
                                <img src="/Imagenes/YouTube.svg" alt="Youtube" style="width: 80px; height: 60px;">
                            </a>*@
                    </div>
                    <div class="col-md-2">
                        <img src="~/Imagenes/dulce.png" alt="Logo" style="width: 150px; height: 150px; " />
                    </div>
                </div>
            </div>
            <div class="container text-center">
                <!-- Agregada estructura de contenedor y fila -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- Cambiado a 12 para que tome todo el ancho -->
                        <p>- RM SOFT Casa de Software y Servicios SAS – Victor A</p>
                        <p>Todos los derechos reservados &copy; @DateTime.Now.Year</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <style>
        .navbar-toggleable-sm {
            z-index: 1050; /*este valor sea más alto que el del carrusel y otras capas */
        }


        .navbar-toggler {
            z-index: 1050; /* este valor sea más alto que el del carrusel y otras capas */
        }

        /* Estilo para el título "Tienda Virtual" */
        .navbar-brand {
            color: #7a7a7a; /* Color del texto */
        }

        /* Estilo base para la clase custom-nav-link */
        .custom-nav-link {
            color: #7a7a7a !important; /* Cambia el color del texto */
            font-weight: bold; /* Texto en negrita */
        }

            /* Estilo para el efecto hover */
            .custom-nav-link:hover {
                background-color: #FFB562 !important; /* Color de fondo verde al pasar el mouse */
                color: black !important; /* Color del texto blanco al pasar el mouse */
                border-radius: 5px; /* Radio de la esquina del recuadro */
            }


        /* Estilo para el título "Tienda Virtual" */
        .navbar-brand {
            color: #7a7a7a; /* Color del texto */
            font-weight: bold !important; /* Fuente en negrita con !important para asegurar la aplicación del estilo */
        }

        /* Estilo para los elementos del menú */
        .navbar .navbar-nav .nav-link {
            color: #7a7a7a; /* Color del texto */
            font-weight: bold; /* Fuente en negrita */
        }

            /* Efecto hover para los elementos del menú */
            .navbar .navbar-nav .nav-link:hover {
                background-color: #FFB562; /* Color de fondo al pasar el mouse */
                color: black !important; /* Color del texto al pasar el mouse */
                border-radius: 5px; /* Radio de la esquina del recuadro */
            }

        .navbar-nav .nav-link:hover {
            color: #F87474; /* Cambia este color según tus necesidades */
        }



        .bg-verde {
            background-color: rgb(35, 164, 84); /* Color fondo verde en formato RGB */
        }

        .bg-morado {
            background-color: rgb(148, 11, 146); /* Color fondo morado en formato RGB */
        }

        .bg-rosado {
            background-color: rgb(252, 186, 255); /* Color fondo rosado en formato RGB */
        }

        .bg-azul {
            background-color: rgb(58, 176, 255); /* Color fondo azul en formato RGB */
        }

        #myCarousel .carousel-inner .carousel-item .d-flex img {
            max-height: 100px;
            padding: 5px;
        }

        .social-icon {
            width: 80px;
            height: 60px;
            margin-right: -25px; /* Ajusta el espacio entre los íconos */
            border: none; /* Esto elimina cualquier borde */
            display: inline-block; /* Esto asegura que se alineen en línea */
            text-decoration: none; /* Esto elimina cualquier subrayado de texto */
        }

            /* Puedes querer aplicar esto a los enlaces directamente para eliminar el borde azul */
            .social-icon a {
                border: none;
                text-decoration: none;
            }
        /* Estilos para el carrusel */
        .carousel-inner {
            max-height: 400px;
            overflow: hidden;
        }

        .zoom-background img {
            width: 80%;
            height: 25%;
            object-fit: cover;
            object-position: center;
            animation: zoom 7s ease-in-out infinite alternate;
        }

        @@keyframes zoom {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(1.1);
            }
        }

        .static-images {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 145px;
            z-index: 10;
        }

            .static-images img {
                width: 145px;
                position: absolute;
                top: 250%;
                transform: translateY(-50%);
            }

                /* Ajustar la posición de las imágenes estáticas */
                .static-images img:first-child {
                    left: 18%; /* Ajusta este valor según sea necesario */
                }

                .static-images img:last-child {
                    left: 5%; /* Ajusta este valor según sea necesario */
                }

        /* Estilo para el botón del menú cuando está en su estado colapsado */
        .navbar-toggler {
            background-color: #940B92 !important; /* Cambia el color del borde del botón si es necesario */
        }

        /* Media query para tablets */
        @@media (max-width: 768px) {
            .static-images img {
                width: 100px; /* Ajusta el tamaño para tablets */
            }

                .static-images img:first-child {
                    left: 10%; /* Ajusta la posición para tablets */
                }

                .static-images img:last-child {
                    left: 30%; /* Ajusta la posición para tablets */
                }
        }

        /* Media query para móviles */
        @@media (max-width: 576px) {
            .static-images img {
                width: 80px; /* Ajusta el tamaño para móviles */
            }

                .static-images img:first-child {
                    left: 5%; /* Ajusta la posición para móviles */
                }

                .static-images img:last-child {
                    left: 28%; /* Ajusta la posición para móviles */
                }
        }

        @@media (max-width: 375px) {
            .static-images img {
                width: 60px; /* Ajusta el tamaño para móviles */
            }

                .static-images img:first-child {
                    left: 3%; /* Ajusta la posición para móviles */
                    top: 50%;
                }

                .static-images img:last-child {
                    left: 28%; /* Ajusta la posición para móviles */
                    top: 45%;
                }
        }
    </style>
    <script>
        var myCarousel = document.querySelector('#carouselExampleIndicators')
        var carousel = new bootstrap.Carousel(myCarousel, {
            interval: 8000,
            wrap: true
        });
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>