<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi Tienda</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-white nav-top">
        <div class="container">
            @Html.ActionLink("Tienda virtual", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-3">
                    <li>@Html.ActionLink("Inicio", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Acerca de", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark nav-botto">
        <div class="container">
            <div class="collapse navbar-collapse justify-content-center ">
                @Html.Action("CategoryNav", "Home")
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <!-- Añadida clase para centrar las columnas -->
                    <div class="col-md-6 text-center">
                        <!-- Cambiado a 6 para que tome la mitad del ancho -->
                        <p><strong>Pagos 100% Seguros</strong></p>
                        <p>Recibimos todas las tarjetas</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <!-- Cambiado a 6 para que tome la mitad del ancho -->
                        <p><strong>Entregas Nacionales</strong></p>
                        <p>Enviamos a toda Colombia</p>
                    </div>
                </div>
            </div>

            @*<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Imagenes/efecty.jpg" class="d-block w-25 h-25 carousel-image" alt="Imagen 1">
                        <img src="~/Imagenes/bancobogota.jpg" class="d-block w-25 h-25 carousel-image" alt="Imagen 2">
                        <img src="~/Imagenes/american.jpg" class="d-block w-25 h-25 carousel-image" alt="Imagen 3">
                    </div>
                </div>
            </div>*@

            <div class="container my-5 bg-dark">
                <!-- my-5 añade margen arriba y abajo -->
                <div class="row text-white">
                    <div class="col-md-4">
                        <h2>Dirección</h2>
                        <p>
                            Kilómetro 14 vía cerritos<br>
                            Entrada por la bomba Santa Barbara.
                        </p>
                        <p>
                            60 6 3515488<br>
                            servicioalcliente@ukumari.co
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h2>Horario de atención:</h2>
                        <p>9:00 am – 4:00 pm</p>
                        <p>Abrimos los 365 días del año.</p>
                    </div>
                    <div class="col-md-4">
                        <h2>Redes sociales</h2>
                        <!-- Puedes añadir aquí tus enlaces a redes sociales, por ejemplo, con íconos -->
                    </div>
                </div>
            </div>
            <div class="container text-center">
                <!-- Agregada estructura de contenedor y fila -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- Cambiado a 12 para que tome todo el ancho -->
                        <p>- Parque Temático De Flora Y Fauna De Pereira SAS – Bioparque Ukumarí.</p>
                        <p>Todos los derechos reservados &copy; @DateTime.Now.Year</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @*<style>
        .carousel-inner {
            display: flex;
            overflow: auto;
        }

        .carousel-item {
            flex: 0 0 auto;
            width: 100%;
        }
    </style>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
