@model Tienda.Models.PaymentInfo

@{
    ViewBag.Title = "Formulario";
}
<!-- Formulario de Pago -->
<div class="page-header border-bottom">
    <h1>Página de Pago</h1>
</div>

<!--<div style="margin-top: 20px; margin-bottom: 20px;">
    ¿Tienes un cupón? <span id="coupon-link" class="text-danger" style="cursor:pointer;">Haz clic aquí para introducir tu código</span>
</div>-->
<!-- Div oculto para introducir el código de cupón -->
<!--<div id="coupon-div" style="display:none; margin-bottom: 20px;">
    <div>
        Si tienes un código de cupón, por favor, aplícalo abajo.
    </div>
    <div class="form-row">
        <div class="col-md-6 d-flex">
            <input type="text" class="form-control" id="couponCode" name="couponCode" placeholder="Código de cupón" />
            <button type="button" class="btn btn-secondary" style="margin-left: 20px;">Aplicar cupón</button>
        </div>
    </div>
</div>-->

<div id="error-message" class="alert alert-danger" style="display:none;">
    Por favor, complete todos los campos obligatorios:
    <ul id="error-list"></ul>
</div>


<!-- Detalles de Facturación -->
<div class="billing-details">
    @using (Html.BeginForm("Checkout", "Home", FormMethod.Post))
    {
        <h2>Detalles de Facturación</h2>
        @Html.HiddenFor(model => model.Cart)
        <!-- Renglón de Nombre y Apellidos -->
        <div class="row">
            <div class="form-group col-md-6">
                <label for="firstName">Primer Nombre <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="firstName" name="firstName" required autocomplete="given-name" />
            </div>
            <div class="form-group col-md-6">
                <label for="middleName">Segundo Nombre</label>
                <input type="text" class="form-control" id="middleName" name="middleName" autocomplete="additional-name" />
            </div>
            <div class="form-group col-md-6">
                <label for="lastName">Primer Apellido <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="lastName" name="lastName" required autocomplete="family-name" />
            </div>
            <div class="form-group col-md-6">
                <label for="secondLastName">Segundo Apellido</label>
                <input type="text" class="form-control" id="secondLastName" name="secondLastName" autocomplete="additional-name" />
            </div>
        </div>

        <!-- Renglón de Tipo y Número de Documento -->
        <div class="row">
            <div class="form-group col-md-6">
                <label for="documentType">Tipo de Documento</label>
                <select id="documentType" name="documentType" class="form-control" required>
                    <option value="" disabled selected>Seleccione</option>
                    <option value="CC">Cédula de Ciudadanía</option>
                    <option value="TI">Tarjeta de Identidad</option>
                    <option value="PP">Pasaporte</option>
                    <option value="NIT">Nit</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="documentNumber">Número de Documento <span class="text-danger">*</span></label>
                <input type="number" class="form-control" id="documentNumber" name="documentNumber" required />
            </div>
            <div class="form-group col-md-6" id="dvVerificationDigit" style="display: none;">
                <label for="verificationDigit">Dígito de Verificación</label>
                <input type="number" class="form-control" id="verificationDigit" name="verificationDigit" min="0" max="9" inputmode="numeric" pattern="[0-9]" title="Por favor, introduce solo un número." />
            </div>
        </div>

        <div class="form-group">
            <label for="companyName">Nombre de la empresa (opcional)</label>
            <input type="text" class="form-control" id="companyName" name="companyName" autocomplete="organization" />
        </div>
        <div class="form-group">
            <label for="country-input">País / Región <span class="text-danger">*</span></label>
            <p id="country-display" style="font-weight: bold;">Colombia</p>
            <input type="hidden" id="country-input" name="country" value="Colombia" />
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="state">Departamento <span class="text-danger">*</span></label>
                <select class="form-control" id="state" name="state" required></select>
                <input type="text" id="stateManual" name="stateManual" class="form-control" style="display:none;" placeholder="Escribe el departamento" />
            </div>
            <div class="form-group col-md-6">
                <label for="city">Ciudad <span class="text-danger">*</span></label>
                <select class="form-control" id="city" name="city" required></select>
                <input type="text" id="cityManual" name="cityManual" class="form-control" style="display:none;" placeholder="Escribe la ciudad" />
            </div>
            <input type="text" id="cityCode" name="cityCode" class="form-control" style="display:none;" placeholder="Código de la ciudad" />
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="streetAddress">Dirección de la calle <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="streetAddress" name="streetAddress" required autocomplete="street-address" />
            </div>
            <div class="form-group col-md-6">
                <label for="postalCode">Código postal (opcional)</label>
                <input type="text" class="form-control" id="postalCode" name="postalCode" autocomplete="postal-code" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="phone">Teléfono <span class="text-danger">*</span></label>
                <input type="tel" class="form-control" id="phone" name="phone" required pattern="\d{7,15}" title="Por favor, introduce un número de teléfono válido." autocomplete="tel" />
            </div>
            <div class="form-group col-md-6">
                <label for="email">Dirección de correo electrónico <span class="text-danger">*</span></label>
                <input type="email" class="form-control" id="email" name="email" required autocomplete="email" />
            </div>
        </div>
        <!-- Detalles del Pedido -->
        <div class="order-details">
            <h2>Tu pedido</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Cart.Items)
                    {
                        <tr>
                            <td>@item.Product.Nombre × @item.Quantity</td>
                            <td>@((item.Product.Precio * item.Quantity).ToString("C"))</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr class="bg-custom">
                        <th>Subtotal</th>
                        <td>@Model.Cart.TotalPrice().ToString("C")</td>
                    </tr>
                    <tr class="bg-custom">
                        <th>Total</th>
                        <td>@Model.Cart.TotalPrice().ToString("C")</td>
                    </tr>
                </tfoot>

            </table>

            <div class="bg-light p-3">
                <!-- Título PayU Latam -->
                <div class="privacy-notice text-lg-start d-flex align-items-center">
                    <h2>PayU Latam</h2>
                    <img src="~/Imagenes/payu.jpg" alt="Logo de PayU Latam" class="ml-2" style="width: 90px; height: auto;"> <!-- ml-2 añade un margen a la izquierda -->
                </div>
                <!-- Texto sobre el uso de datos personales -->
                <div class="privacy-notice">
                    <p>
                        Sus datos personales se utilizarán para procesar su pedido y respaldar su experiencia en este sitio web descrita en nuestra <a href="@Url.Action("Politica", "Home")" class="text-danger">política de privacidad</a>.
                    </p>
                </div>

                <!-- Botón para realizar el pago -->
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-end">
                        <button type="submit" class="btn btn-purple" id="submit-button">Realizar Pago</button>
                    </div>
                </div>
            </div>

        </div>

    }


</div>
<style>
    .btn-purple {
        background-color: #5C469C;
        color: white;
        border: none;
    }
        .btn-purple:hover {
            background-color: purple; /* Color de fondo al pasar el mouse */
            color: white; /* Color del texto al pasar el mouse (opcional) */
        }

    .bg-custom {
        background-color: #CDF0EA;
        color: black;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    // Función para mostrar/ocultar el div de código de cupón
    //document.getElementById('coupon-link').onclick = function () {
    //    var couponDiv = document.getElementById('coupon-div');
    //    if (couponDiv.style.display === 'none') {
    //        couponDiv.style.display = 'block';
    //    } else {
    //        couponDiv.style.display = 'none';
    //    }
    //}

    // Accion para obtener los departamentos y las ciudades

    $(document).ready(function () {
        // Cargar departamentos al cargar la página
        $.getJSON('/Home/GetDepartamentos', function (response) {
            if (response.error) {
                // Manejar el error y habilitar la entrada manual
                alert("Error al cargar los departamentos: " + response.message);
                // Suponiendo que tienes un input de texto con id 'stateManual' que está oculto por defecto
                $('#state').hide();
                $('#stateManual').show();
            } else {
                var items = '<option value="">Seleccione un departamento</option>';
                $.each(response, function (i, departamento) {
                    items += "<option value='" + departamento + "'>" + departamento + "</option>";
                });
                $('#state').html(items);
            }
        });

        // Evento de cambio para cargar las ciudades basadas en el departamento seleccionado
        $('#state').change(function () {
            var departamentoSeleccionado = $(this).val();
            $.getJSON('/Home/GetCiudadesPorDepartamento', { departamento: departamentoSeleccionado }, function (data) {
                if (data.error) {
                    // Manejar el error y habilitar la entrada manual
                    alert("Error al cargar las ciudades: " + data.error);
                    $('#city').hide();
                    $('#cityManual').show();
                } else {
                    var items = '<option value="">Seleccione una ciudad</option>';
                    $.each(data, function (i, item) {
                        items += "<option value='" + item.Ciudad + "' data-codigo='" + item.Codigo + "'>" + item.Ciudad + "</option>";
                    });
                    $('#city').html(items);
                }
            });
        });

        // Evento de cambio para el campo de ciudad
        $('#city').change(function () {
            var codigoCiudad = $('option:selected', this).attr('data-codigo'); // Cambiado a .attr() en lugar de .data()
            $('#cityCode').val(codigoCiudad); // Asegúrate de que tienes un elemento con id 'cityCode'
        });
    });



    // Función para mostrar/ocultar los campos faltan por rellenar antes de enviar el formulario
    $(document).ready(function () {

        $("#documentType").change(function () {
            var selectedValue = $(this).val();
            var verificationDigitInput = $("#verificationDigit");

            if (selectedValue === "NIT") {
                $("#dvVerificationDigit").show();
                verificationDigitInput.attr('required', true); // Añadir el atributo 'required'
            } else {
                $("#dvVerificationDigit").hide();
                verificationDigitInput.removeAttr('required'); // Eliminar el atributo 'required'
                verificationDigitInput.val(''); // Opcional: limpiar el valor
            }
        });

        $('#submit-button').click(function (e) {
            var isValid = true;
            var errorList = $('#error-list');
            errorList.empty();  // Limpiar la lista de errores anterior

            $('input[required]').each(function () {
                if ($(this).val() === '') {
                    isValid = false;
                    // Agregar el nombre del campo a la lista de errores
                    var fieldName = $(this).prev('label').text();
                    errorList.append('<li>' + fieldName + '</li>');
                }
            });

            if (!isValid) {
                e.preventDefault(); // Prevent the form from submitting
                $('#error-message').show(); // Show the error message
                window.scrollTo(0, 0);  // Desplazar la ventana al inicio de la página
            }
        });

    });

    $("#documentNumber").change(function () {
    var documentType = $("#documentType").val();
    var nit = $(this).val();

    if (documentType === "NIT" && nit) {
        $.ajax({
            url: '@Url.Action("CalcularDigitoVerificacion", "Home")',
            type: 'GET',
            data: { nit: nit },
            success: function (data) {
                if (data.success) {
                    $("#verificationDigit").val(data.digitoVerificacion);
                }
            }
        });
    }
});


</script>

