@model Tienda.Models.ProductDetailsViewModel
@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Detalle</h2>
    <div class="row mb-5">
        <!-- Columna izquierda para la imagen -->
        <div class="col-md-6">
            <img src="@Model.Product.Imagen" alt="@Model.Product.Nombre" class="img-fluid">
        </div>

        <!-- Columna derecha para el texto -->
        <div class="col-md-6">
            <h2 class="font-weight-bold">@Model.Product.Nombre</h2>
            <p class="text-price">@Model.Product.Precio.ToString("C")</p>
            <p>@Model.Product.Detalle</p>
            <p>@Model.Product.Descripcion</p>
            <p class="font-italic">Nota: no se hacen devoluciones de dinero.</p>
            <p>Abrimos todos los días del año desde las 9:00 a.m. hasta las 4:00 p.m. para el ingreso y hasta las 6:00 p.m. para estar en las instalaciones.</p>
            <div class="input-group mb-3">
                <input type="number" class="form-control" id="product-quantity" value="1" min="1" style="max-width: 70px; margin-right: 10px;">
                <div class="input-group-append">
                    <button class="btn btn-secondary add-to-cart" data-product-id="@Model.Product.Id">Añadir al carrito</button>
                    <button class="btn btn-secondary buy-now" data-product-id="@Model.Product.Id">Comprar</button>
                </div>
            </div>
            <span class="confirmation d-none" id="confirmation-@Model.Product.Id">
                ✓
                <br>
                <span class="text-danger">El producto se agregó al carrito</span>
                <br>
                <a href="@Url.Action("Carrito", "Home")">Ver carrito</a>
            </span>
        </div>

    </div>
    <div class="col-12">
        <h1 class="border-bottom">Descripción</h1>
        <p>@Model.Product.Descripcion</p>
        <p class="font-italic">Nota: no se hacen devoluciones de dinero.</p>
        <p>Abrimos todos los días del año desde las 9:00 a.m. hasta las 4:00 p.m. para el ingreso y hasta las 6:00 p.m. para estar en las instalaciones.</p>
        <h3 class="text-center">Conoce nuestras restricciones</h3>
        <ul>
            <li>No está permitido el ingreso a personas que estén bajo el efecto de bebidas alcohólicas o sustancias alucinógenas</li>
            <li>Por el bienestar de su mascota y las especies del Bioparque, no se permite los ingresos de animales</li>
            <li>Los menores de edad deben estar bajo vigilancia de un adulto</li>
            <li>No esta permitido ingresar alimentos y/o bebidas</li>
            <li>Está prohibido ingresar armas de fuego y elementos corto punzantes</li>
            <li>No alimente los animales, ya que podría enfermarlos y ocasionarles la muerte, cada animal tiene una dieta especial elaborada por un profesional</li>
            <li>No golpee los vidrios y mallas de los exhibidores, los ruidos altos asustan y estresan los animales</li>
            <li>No lance objetos a los animales, puede causar daños irreversibles</li>
            <li>Camine por los senderos indicados, respete los límites y barreras de seguridad de las exhibiciones, traspasarlos representa un peligro</li>
            <li>No intente tocar los animales, introduciendo las manos por las rejas, esto representa un peligro</li>
            <li>Cuide las plantas y jardines del Bioparque, son parte del hábitat y entorno de los animales, enriquecen el paisaje y brindan bienestar en el recorrido</li>
            <li>En las zonas de aviarios asegúrese de mantener las puertas cerradas, para evitar escapes o accidentes con los animales</li>
        </ul>

        <h3 class="text-center">Recomendaciones para tu visita </h3>
        <ul>
            <li>Desde tu ingreso harás parte de un ecosistema que debes cuidar.</li>
            <li>Aplicar abundante bloqueador solar en especial a los niños</li>
            <li>Usar zapatos y ropa cómoda</li>
            <li>Usa gorras o sombreros, también puedes comprarlos en la tienda de souvenir del Bioparque</li>
            <li>Llevar coche para los bebés</li>
            <li>El uso de lentes para sol</li>
            <li>Lleva suficiente hidratación</li>
            <li>Los residuos de alimentos, envases, deben ser depositados en los sitios destinados para tal fin.</li>
            <li>Seguir las instrucciones y recomendaciones del personal del Bioparque Ukumarí</li>
        </ul>
    </div>
    <div class="col-12">
        <h2 class="border-bottom mb-4">Productos relacionados</h2>
        <div class="row mb-4">
            @foreach (var relatedProduct in Model.RelatedProducts)
            {
                <div class="col-md-4 mb-2">
                    <div class="card product-card narrow-card">
                        <!-- Envuelve solo la imagen y el título en enlaces -->
                        <a href="@Url.Action("Details", new { id = relatedProduct.Id })" class="text-decoration-none">
                            <img src="@relatedProduct.Imagen" class="card-img-top" alt="@relatedProduct.Nombre">
                        </a>
                        <div class="card-body">
                            <a href="@Url.Action("Details", new { id = relatedProduct.Id })" class="text-decoration-none text-success">
                                <h5 class="card-title">@relatedProduct.Nombre</h5>
                            </a>
                            <p class="card-text">@relatedProduct.Descripcion</p>
                            <p class="card-text text-price">@relatedProduct.Precio.ToString("C")</p>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-secondary buy-now" data-product-id="@relatedProduct.Id">Comprar</button>
                            <button class="btn btn-secondary add-to-cart" data-product-id="@relatedProduct.Id">Añadir al carrito</button>
                            <span class="confirmation d-none" id="confirmation-@relatedProduct.Id">
                                ✓
                                <br>
                                <span class="text-danger">El producto se agregó al carrito</span>
                                <br>
                                <a href="@Url.Action("Carrito", "Home")">Ver carrito</a>
                            </span>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
<script>
    function updateQuantity(amount) {
        var quantityInput = document.getElementById('product-quantity');
        var newQuantity = parseInt(quantityInput.value) + amount;
        if (newQuantity < 1) {
            newQuantity = 1;  // Asegura que la cantidad sea al menos 1
        }
        quantityInput.value = newQuantity;
    }

    // Asegurando que la cantidad seleccionada se envíe al servidor
    document.querySelectorAll('.add-to-cart').forEach(button => {
        button.addEventListener('click', function () {
            var productId = this.getAttribute('data-product-id');
            var quantity = document.getElementById('product-quantity').value;
            fetch('/Home/AddToCart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ productId: productId, quantity: quantity })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        document.getElementById('confirmation-' + productId).classList.remove('d-none');
                    }
                });
        });
    });

    function buyNow(productId) {
        var quantity = document.getElementById('product-quantity').value;
        fetch('/Home/AddToCart', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ productId: productId, quantity: quantity })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Redirigir al carrito de compras si la operación fue exitosa
                window.location.href = '@Url.Action("Carrito", "Home")';
            }
        });
    }

    // Evento de clic para botón de Comprar
    document.querySelectorAll('.buy-now').forEach(button => {
        button.addEventListener('click', function () {
            var productId = this.getAttribute('data-product-id');
            buyNow(productId);
        });
    });
</script>

<style>
    .narrow-card {
        max-width: 330px;
    }
</style>


