@model Tienda.Models.PayUModel
@{
    ViewBag.Title = "PayUForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="order-info m-4">
    <h2 class="mb-4">Pagar por el pedido</h2>
    <table class="table text-center mb-4">
        <tr>
            <th>NÚMERO DEL PEDIDO:</th>
            <th>FECHA:</th>
            <th>TOTAL:</th>
            <th>MÉTODO DE PAGO:</th>
        </tr>
        <tr>
            <td>@Model.ReferenceCode</td>
            <td>@DateTime.Now.ToString("MMMM dd, yyyy", new System.Globalization.CultureInfo("es-ES"))</td>
            <td>$ @Model.Amount.ToString("N0")</td>
            <td>PayU Latam</td>
        </tr>
    </table>
    <p class="mt-4">Gracias por su pedido, de clic en el botón que aparece para continuar el pago con PayU Latam.</p>
</div>



<form method="post" action="https://sandbox.checkout.payulatam.com/ppp-web-gateway-payu/">
    <input name="merchantId" type="hidden" value="@Model.MerchantId">
    <input name="accountId" type="hidden" value="@Model.AccountId">
    <input name="description" type="hidden" value="@Model.Description">
    <input name="referenceCode" type="hidden" value="@Model.ReferenceCode">
    <input name="amount" type="hidden" value="@Model.Amount.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)">
    <input name="tax" type="hidden" value="@Model.Tax">
    <input name="taxReturnBase" type="hidden" value="@Model.TaxReturnBase">
    <input name="currency" type="hidden" value="@Model.Currency">
    <input name="signature" type="hidden" value="@Model.Signature">
    <input name="test" type="hidden" value="@Model.Test">
    <input name="buyerEmail" type="hidden" value="@Model.BuyerEmail">
    <input name="telephone" type="hidden" value="@Model.Telephone">
    <input name="buyerFullName" type="hidden" value="@Model.BuyerfullName">
    <input name="paymentMethod" type="hidden" value="@Model.PaymentMethod">
    <input name="responseUrl" type="hidden" value="@Model.ResponseUrl">
    <input name="confirmationUrl" type="hidden" value="@Model.ConfirmationUrl">
    <input name="Submit" type="submit" value="Pagar" class="btn btn-red">
</form>

<style>
    .btn-red {
        background-color: red;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
    }

    .order-info {
        margin-bottom: 20px;
    }
</style>


