<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TiendA Ukumari</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.1/spectrum.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    @Styles.Render("~/Content/css")
    <link rel="icon" href="~/Imagenes/Ukumari_logo.svg" type="image/svg+xml">
</head>
<body class="sb-nav-fixed">
    <!-- Barra de navegación superior -->
    <nav class="sb-topnav navbar navbar-expand navbar-dark" id="navbar" style="background-color: @ViewBag.NavbarColor;">
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
            <i class="fas fa-bars" style="color: #ffffff;"></i>
        </button>
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <a>@Html.ActionLink("ADMINISTRACION", "Inicio", "Admin", new { area = "Admin" }, new { @class = "navbar-brand mi-navbar-brand" })</a>
        </form>
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user fa-fw"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>@Html.ActionLink("Salir", "CerrarSesion", "Admin", new { area = "Admin" }, new { @class = "dropdown-item" })</li>
                </ul>
            </li>
        </ul>
    </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion" style="background-color: @ViewBag.SliderColor;">
                <div class="sb-sidenav-menu">
                    <div class="container">
                        <button type="button" class="navbar-toggler d-md-none" data-bs-toggle="collapse" data-bs-target="#sidenavCollapse" aria-controls="sidenavCollapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse d-md-inline-flex" id="sidenavCollapse">
                            <ul class="navbar-nav flex-grow-1">
                                <li>@Html.ActionLink("Gestión de Productos", "Productos", "Admin", new { area = "Admin" }, new { @class = "mi-nav-link fs-5" })</li>
                                @if (Session["NivelAcceso"] != null && Convert.ToInt32(Session["NivelAcceso"]) == 4)
                                {
                                    <li>@Html.ActionLink("Gestión de Categorías", "Categorias", "Admin", new { area = "Admin" }, new { @class = "mi-nav-link fs-5" })</li>
                                }
                                <li>@Html.ActionLink("Gestión de Pedidos", "Pedidos", "Admin", new { area = "Admin" }, new { @class = "mi-nav-link fs-5" })</li>
                                <li>@Html.ActionLink("Gestión de Página", "GestionPagina", "Admin", new { area = "Admin" }, new { @class = "mi-nav-link fs-5" })</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    @RenderBody()
                </div>
            </main>

            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Rm Soft 2024</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/complementos")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.1/spectrum.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>

   
</body>
</html>


<!-- Estilos personalizados -->
<style>
    .mi-navbar {
        background-color: #86B038; /* Color de fondo del navbar */
    }

    .mi-nav-link {
        color: white; /* Color de la letra */
        text-decoration: none; /* Elimina el subrayado */
        text-align: center; /* Centra el texto */
        display: block; /* Hace que el enlace llene todo el <li> */
        margin: 0 10px; /* Agrega un margen a izquierda y derecha */
        font-weight: bold; /* Letra en negrita */
    }

        .mi-nav-link:hover {
            color: black; /* Color de la letra al pasar el ratón por encima */
            text-decoration: none; /* Mantiene sin subrayado al pasar el ratón por encima */
        }

    .navbar-nav > li {
        margin-right: 20px; /* Espacio a la derecha para centrar el texto de los títulos */
    }

    .mi-navbar-brand {
        color: white !important; /* Color de la letra */
        font-weight: bold; /* Letra en negrita */
    }

    .mi-nav-link {
        color: #000000; /* Color negro por defecto */
        padding: 8px 12px; /* Espaciado interno para parecerse a una casilla */
        border-radius: 4px; /* Esquinas redondeadas */
        transition: background-color 0.3s, color 0.3s; /* Transición suave */
    }

        .mi-nav-link:hover {
            background-color: #86B038; /* Color verde cuando se pasa el mouse */
            color: #ffffff; /* Color del texto cuando se pasa el mouse */
        }

    /* Estilos para la barra lateral en dispositivos móviles */
    @@media (max-width: 768px) {
        #layoutSidenav_nav {
            position: absolute;
            top: 0;
            left: 0;
            width: 250px;
            height: 100%;
            z-index: 1000;
            overflow-x: hidden;
            transition: transform 0.3s ease;
        }

            #layoutSidenav_nav .collapse {
                display: block;
            }

        .navbar-toggler {
            display: inline-block;
        }
    }
</style>
