<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tienda PETETES</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.1/spectrum.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    @Styles.Render("~/Content/css")
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark" id="navbar">
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Titulo de administracion-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <a>@Html.ActionLink("ADMINISTRACION", "Inicio", "Admin", new { area = "Admin" }, new { @class = "navbar-brand mi-navbar-brand" })</a>
        </form>
        <!-- Este es lo de el login admin-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                        @Html.ActionLink("Salir", "CerrarSesion", "Admin", new { area = "Admin" }, new { @class = "dropdown-item" })
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="container">
                        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li>@Html.ActionLink("Gestión de Productos", "Productos", "Admin", new { area = "Admin" }, new { @class = "mi-nav-link fs-5" })</li>
                                @if (Session["NivelAcceso"] != null && Convert.ToInt32(Session["NivelAcceso"]) == 4)
                                {
                                    <li>@Html.ActionLink("Gestión de Categorías", "Categorias", "Admin", new { area = "Admin" }, new { @class = "mi-nav-link fs-5" })</li>
                                }
                                <li>@Html.ActionLink("Gestión de Pedidos", "Pedidos", "Admin", new { area = "Admin" }, new { @class = "mi-nav-link fs-5" })</li>
                                <li>@Html.ActionLink("Gestión de Página", "GestionPagina", "Admin", new { area = "Admin" }, new { @class = "mi-nav-link fs-5" })</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Start Bootstrap
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Rm Soft 2024</div>
                        <div>
                            <a href="#">Privacidad &amp; Politica</a>
                            &middot;
                            <a href="#">Terminos &amp; Condiciones</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @*@RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TIENDA VIRTUAL PETETES</p>
        </footer>
        </div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/complementos")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.1/spectrum.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
  <script>
        $(document).ready(function () {
            var savedNavbarColor = localStorage.getItem('navbarColor');
            if (savedNavbarColor) {
                document.getElementById('navbar').style.backgroundColor = savedNavbarColor;
            }

            var savedSliderColor = localStorage.getItem('sliderColor');
            if (savedSliderColor) {
                document.querySelector('.sb-sidenav-menu').style.backgroundColor = savedSliderColor;
            }
        });
    </script>


</body>
</html>

<style>
    .mi-navbar {
        background-color: #86B038; /* Color de fondo */
    }


    /* Colores, tamaños etc de las letras que dicen GESTION */
    .mi-nav-link {
        color: white; /* Color de la letra */
        text-decoration: none; /* Elimina el subrayado */
        text-align: center; /* Centra el texto */
        display: block; /* Hace que el enlace llene todo el <li> */
        margin: 0 10px; /* Agrega un margen a izquierda y derecha */
        font-weight: bold; /* Letra en negrita */
    }

        .mi-nav-link:hover {
            color: black; /* Color de la letra al pasar el ratón por encima */
            text-decoration: none; /* Mantiene sin subrayado al pasar el ratón por encima */
        }

    .navbar-nav > li {
        margin-right: 20px; /* centrar texto de los titulos GESTION */
    }

    .mi-nav-link {
        color: black;
        line-height: 40px; /* Ajusta a la altura de tu navbar */
    }

    .mi-navbar-brand {
        color: white !important; /* Color de letra negro */
        font-weight: bold; /* Letra en negrita */
    }

    .mi-nav-link {
        color: #000000; /* Color negro por defecto */
        padding: 8px 12px; /* Espaciado interno para parecerse a una casilla */
        border-radius: 4px; /* Esquinas redondeadas */
        transition: background-color 0.3s, color 0.3s; /* Transición suave */
    }

        .mi-nav-link:hover {
            background-color: #86B038; /* Color verde cuando se pasa el mouse */
            color: #ffffff; /* Color del texto cuando se pasa el mouse */
        }
</style>
